.item-product {
    display: flex;
    flex-direction: column;
}
.item-product .product-image {
    width: 100%;
    height: 200px;
    position: relative;
}
.item-product .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.item-product .product-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 10px 0;
}
.item-product .product-meta,
.item-product .product-footer {
    width: 100%;
    margin: 0 -10px;
    align-items: center;
    justify-content: space-between;
}
.item-product .product-meta>*,
.item-product .product-footer>* {
    width: 50%;
    padding: 0 10px;
    font-size: 15px;
}